
<div class ="container-fluid text-center">
  <div class ="fullblock">
    <h1>Random Chuck Norris Facts Machine</h1>
    <p>"Real" Chuck Norris facts:)<p>
    <div class="qouteszone text-center">
      <span class="quote"></span> {{randomQuote}} <br/>
      <span class="author">Chuck Norris</span>
    </div>

    <button (click)="myEvent($event)" class="btn btn-default" type="submit" id="newQuote">New Quote</button>
    <button (click)="myEvent2($event)" class="btn btn-default" id="tweet" class="btn btn-default">#ReTweet</button>


  </div>
</div>



